.uniquePath {
  margin-bottom: 100px;
}

.upButton button {
  font-size: 14px !important;
  float: none !important;
  border-radius: 50% !important;
}

.upButton button:hover {
  font-size: 18px !important;
}
